In [116]:
import calendar

In [62]:
import math

In [83]:
from datetime import date
from datetime import time 
from datetime import datetime
from datetime import timedelta

In [73]:
    today = date.today()
    print("Today is", today.day, today.month, today.year)
    print("Weekday is", today.weekday())
    days = ["mon","tue","wed","thu","fri","sun","sat"]
    print("which is a: ", days[today.weekday()])

Today is 7 9 2021
Weekday is 1
which is a:  tue

In [65]:
print("The square root of 16 is ", math.sqrt(16))
print("Pi is ", math.pi)

The square root of 16 is  4.0
Pi is  3.141592653589793

In [2]:
print("hello world")
name = input("what is your name?")
print("Nice to meet you", name)

hello world
what is your name?Himani
Nice to meet you Himani

In [4]:
def main():
    print("hello world")
    name = input("what is your name?")
    print("Nice to meet you", name)
    
if __name__ == "__main__":
    main()

hello world
what is your name?Himani
Nice to meet you Himani

In [5]:
F = 0 
print(F)

0

In [19]:
F = "abc"
print(F)
print("this is a string" + " " + str(123))

abc
this is a string 123

In [20]:
def some():
    global f
    F = "def"
    print(F)
some()
print(F)

def
abc

In [17]:
del F

In [22]:
def fun1():
    print("I am a function")
    
fun1()
print(fun1()) #value is not defined, hence prints i am a function and none
print(fun1) #type is printed, which is function

I am a function
I am a function
None
<function fun1 at 0x7f9b75143550>

In [24]:
def func2 (arg1,arg2):
    print(arg1, " ", arg2)
    
def cube(x):
    return x*x*x


func2 (10,20)
print(func2(10,20)) #no return value from func2
print(cube(3))

10   20
10   20
None
27

In [26]:
def power(num, x=1):
    for i in range(x):
        result = result * num 
        return result 
print(power)

<function power at 0x7f9b75143b80>

In [41]:
def main():
    x,y = 10,100
    
    if (x < y):
        st = "x is less than y"
        
    elif (x == y):
        st = " x is equal to y"
        
    else: 
        st = "x is greater than y"
        
    print(st)
    
    st = "x is less than y" if (x<y) else "x is greater or same as y "

In [42]:

    x = 0
    
    while (x<5):
        print(x)
        x = x+1

https://www.google.com/search?q=big+data+developer+job+description&rlz=1C5CHFA_enAE894AE894&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj_grn8h-ryAhUSkhQKHROtBLEQ_AUoAXoECAEQAw&biw=1440&bih=789#imgrc=wpI9GkFhwDx_1M

In [47]:

    x=0
    for x in range (5,10):
        print(x)

5
6
7
8
9

In [46]:
days = ["Saturday","Sunday","Monday"]
for d in days:
    print(d)

Saturday
Sunday
Monday

In [51]:
for x in range (5,10):
    if (x % 2 == 0): continue
    print(x)

5
7
9

In [53]:
days = ["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]

for i,d in enumerate(days):
    print(i,d) #print index and items of the array

0 Saturday
1 Sunday
2 Monday
3 Tuesday
4 Wednesday
5 Thursday
6 Friday

In [61]:
class myclass():
    def method1(self):
        print("1")
        
    def method2(self,somestring):
        print("2"+ somestring)
        
class anotherclass(myclass):
    def method1(self):
        myclass.method1(self)
        
        
def main():
    c = myclass()
    c.method1()
    c.method2("This is a string")
        
    c2 = anotherclass()
    c2.method1()
        
if __name__ == " __main__":
    main()

In [74]:
today = datetime.now()
print("the current date & time is", today)

the current date & time is 2021-09-07 01:35:01.054477

In [80]:
from datetime import datetime
now = datetime.now()
print(now.strftime("The current year is: %Y "))
print(now.strftime("%a, %d, %B, %y"))
print(now.strftime("Local Data & Time: %c "))
print(now.strftime("Local Data & Time: %x "))
print(now.strftime("Local Data & Time: %X "))

The current year is: 2021
Tue, 07, September, 21
Local Data & Time: Tue Sep  7 13:16:10 2021
Local Data & Time: 09/07/21
Local Data & Time: 13:16:10

In [81]:
print(now.strftime("%I:%M:%S %p"))

01:16:10 PM

In [82]:
print(now.strftime("%H:%M"))

13:16

In [84]:
print(timedelta(days=365,hours=5, minutes=1))

365 days, 5:01:00

In [85]:
now = datetime.now()
print("today is :" + str(now))

today is :2021-09-07 13:50:57.089259

In [86]:
print("one year from now" +str(now + timedelta(days=365)))

one year from now2022-09-07 13:50:57.089259

In [87]:
print("in 2 days and 3 weeks it will be" + str(now + timedelta(days=2, weeks =3)))

in 2 days and 3 weeks it will be2021-09-30 13:50:57.089259

In [88]:
print(timedelta(days=365, hours=5, minutes=1))

365 days, 5:01:00

In [91]:
t = datetime.now() - timedelta(weeks=1)
s = t.strftime("%A %B %d,%Y")
print("one week ago it was :"+ s)

one week ago it was :Tuesday August 31,2021

In [103]:
c = calendar.TextCalendar(calendar.SUNDAY)
st = c.formatmonth(2017,1,0,0) #format into a month 
print(st)

    January 2017
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [104]:
hc = calendar.HTMLCalendar(calendar.SUNDAY)
st = hc.formatmonth(2017,1)
print(st)

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2017</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="sun">1</td><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td></tr>
<tr><td class="sun">8</td><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td></tr>
<tr><td class="sun">15</td><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td></tr>
<tr><td class="sun">22</td><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td></tr>
<tr><td class="sun">29</td><td class="mon">30</td><td class="tue">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [108]:
c = calendar.TextCalendar(calendar.SUNDAY)
for i in c.itermonthdays(2017,8):
    print(i)

0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0
0

In [109]:
for name in calendar.month_name:
    print(name)

January
February
March
April
May
June
July
August
September
October
November
December

In [110]:
for day in calendar.day_name:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [129]:
print("Team meetings be on: ")
for m in range(1,13):
    cal = calendar.monthcalendar(2018,m)
    weekone = cal[0]
    weektwo = cal[1]
    
    if weekone[calendar.FRIDAY]!= 0:
        meetday = weekone[calendar.FRIDAY]
    else:
        meetday = weektwo[calendar.FRIDAY]
    print((calendar.month_name[m], meetday))

Team meetings be on:
('January', 5)
('February', 2)
('March', 2)
('April', 6)
('May', 4)
('June', 1)
('July', 6)
('August', 3)
('September', 7)
('October', 5)
('November', 2)
('December', 7)

In [120]:
c = calendar.TextCalendar(calendar.MONDAY)
st = c.formatmonth(2017,1,0,0)
print(st)

    January 2017
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [124]:
hc = calendar.HTMLCalendar(calendar.SUNDAY)
st = hc.formatmonth(2017,1)
print(st)

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2017</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="sun">1</td><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td></tr>
<tr><td class="sun">8</td><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td></tr>
<tr><td class="sun">15</td><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td></tr>
<tr><td class="sun">22</td><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td></tr>
<tr><td class="sun">29</td><td class="mon">30</td><td class="tue">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [125]:
for i in c.itermonthdays(2017,8):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0
0
0

In [126]:
for name in calendar.month_name:
    print(name)
for day in calendar.day_name:
    print(day)

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday